<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.email %>!</h1>

    <p>
      You have successfully signed up to my <%= link_to "portfolio site", "https://authenticate-user-9udr.onrender.com/" %> .
    </p>

    <p>Thanks for signing up and taking your precious time out to check my work.</p>

    <br>
    <br>

    <p><%= link_to "Juzer Shakir", "https://juzershakir.github.io/" %></p>

  </body>
</html>
