<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Devise", :root, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", :new_visitor_registration %></li>
        <li><%= link_to "Log In", :new_visitor_session %></li>
      </ul>
    </nav>
  </div>
</header>
