<h2>Hey Devs, Welcome to my Second Rails Project</h2>

<p>In this project, I have used <i><b>devise</b></i> gem to help user signup, signin, logout and maintain a session on this webapp.</p>
<p>Using devise, an additional feature of 'forgot password' and 'remember me' is given.</p>
<p>I have also used <i><b>Action Mailer</b></i> to send email to users when they sign up and for reseting their password.</p>
<p>While signing up or logging in, a <i><b>reCAPTCHA</b></i> gem is used to verify a user is not a robot!</p>

<div class="note">
    <div class="row">
    <div class="col-md-7">
        <div class="alert-danger">
        <b>Note:</b> To receive emails, sign up with an working email address as mails will be sent on that.
        </div>
    </div>
    </div>
</div>