    <h2>Welcome, <%= current_user.email %> </h2>

    <p>Thanks for signing up!</p>
    <p>Also thanks to <i><b>reCAPTCHA</b></i> gem for verifying that you're not a robot, and the <i><b>devise</b></i> gem for creating this session for you.</p>

    <p>By the time you read this, rails' <i><b>Action Mailer</i></b> must have sent you an email which confirms that your account is created.</p>

    <p>So, there you have it, three features working together harmoniously to enhance user experience.</p>

    <br>

    <a href = "https://session-weg3.onrender.com/", target="blank">
      <button type="button" class="btn btn-warning">
        Previous Project
      </button>
    </a>

    <a href = "https://github.com/JuzerShakir/rails-authenticate", target="blank">
      <button type="button" class="btn btn-info">
        Source code
      </button>
    </a>

    <a href = "https://gratify-me.fly.dev", target="blank">
      <button type="button" class="btn btn-success">
        Next Project
      </button>
    </a>